.cc-img-f {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: $cc-img-color;
}

.cc-icon-info svg {
  max-height: 100%;
}

.cc-icon-info {
  position: absolute;
  text-align: right;
  display: flex;
  align-items: start;
  justify-content: right;
  right: 8%;
  top: 14%;
  width: 40%;
  bottom: 60%;
}

.cc-ds-icon-info {
  &.gradient svg path:nth-child(3),
  &.gradient svg path + path {
    display: none;
  }

  &.gradient svg path + path + path {
    display: block;
  }
}

.cc-to-icon-info,
.cc-ve-icon-info,
.cc-elo-icon-info {
  color: #000;
}

.cc-hc-icon-info,
.cc-ax-icon-info,
.cc-ds-icon-info,
.cc-dc-icon-info,
.cc-vi-icon-info,
.cc-ca-icon-info,
.cc-ff-icon-info,
.cc-ls-icon-info {
  color: #fff;
}

.cc-img-b {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: $cc-img-color;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#cc-svg-name-f {
  text-transform: uppercase;
}

#cc-svg-f,
#cc-svg-b {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 12px;
}

@include media-breakpoint-up(sm) {
  #cc-svg-f,
  #cc-svg-b {
    border-radius: 14px;
  }
}

#cc-svg-f {
  .st2 {
    fill: #fff;
  }
  .st3 {
    font-family: $font-family_2;
    font-weight: 600;
  }
  .st4 {
    font-size: 54.7817px;
  }
  .st5 {
    font-family: $font-family_2;
    font-weight: 400;
  }
  .st6 {
    font-size: 33.1112px;
  }
  .st7 {
    opacity: 0.6;
    fill: #fff;
  }
  .st8 {
    font-size: 24px;
  }
  .st9 {
    font-size: 36.5498px;
  }
  .st10 {
    font-family: $font-family_2;
    font-weight: 300;
  }
  .st11 {
    font-size: 16.1716px;
  }
  .st12 {
    fill: #4c4c4c;
  }
}
#cc-svg-b {
  .st0 {
    fill: none;
    stroke: #0f0f0f;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: #111111;
  }
  .st3 {
    fill: #f2f2f2;
  }
  .st4 {
    fill: #d8d2db;
  }
  .st5 {
    fill: #c4c4c4;
  }
  .st6 {
    font-family: $font-family_2;
    font-weight: 400;
  }
  .st7 {
    font-size: 27px;
  }
  .st8 {
    opacity: 0.6;
  }
  .st9 {
    fill: #fff;
  }
  .st10 {
    font-size: 24px;
  }
  .st11 {
    fill: #eaeaea;
  }
  .st12 {
    font-family: $font-family_3;
  }
  .st13 {
    font-size: 37.769px;
  }
}
