.cc-img-wrapper {
  max-width: 400px;
  // max-height: 260px;
  // height: 60vw;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

// @include media-breakpoint-up(sm) {
//   .cc-img-wrapper {
//     height: 64vw;
//   }
// }
